body {
  font-family: 'Courier New', Courier, monospace;
  width: 100%;  
} 

header {
  text-align: center;
  color: rgb(252, 54, 54);
  font-size: x-large;
  font-style: italic;
  font-weight: bold;
}

form {
  margin: auto;
  width: 100%;
  max-width: 920px;
  padding: 1rem;
  border: 2px solid #ec4f4f;
  border-radius: 5px;
  color: rgb(234, 118, 118);
  font-weight: bold;
}

select {
  max-width: 920px;
  margin: auto;
  width: 100%;
  max-width: 200px;
  padding: 1rem;
  color: rgb(234, 118, 118);
}

input, .dob {
  padding: 0.5rem;
  border: 1.2px solid #ff0000;
  border-radius: 4px;
  margin-bottom: 1rem;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  width: 38%;
  display: block;
  margin: auto;
  background-color: #ec4f4f;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 10px 
}

@media (max-width: 767px) {
  form {
    width: fit-content;
    max-width: 90%;
  }
}

@media (min-width: 752px) {
  form {
    width: fit-content;
    min-width: 90%;
  }
}